<menubar></menubar>
<ng-container *ngIf="userProfile">
<mat-toolbar>
    <span class="header-spacer"></span>
    <ng-container *ngIf="userProfile">
        <div>Welcome, {{ userProfile.name }}</div>
    </ng-container>
</mat-toolbar>
<br>
<table align="center" width="75%">
    <tr>
        <td>
            <mat-accordion>
                <mat-expansion-panel (opened)="hrOpenState = true"
                                    (closed)="hrOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                     HR / Resource Management
                    </mat-panel-title>
                    <mat-panel-description>
                        End to end resource and process management in HR Sector
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>                    
                    Generative AI will have a significant impact on the recruitment and selection process by improving efficiency, accuracy, and speed.
                    Some usecases are:
                </p>    
                    <ol>
                        <li>
                            <a routerLink="/skillsearch"  routerLinkActive="active">
                                CV Analysis & Skill findings
                            </a>
                        </li>
                        <li>
                            <a routerLink="/jobprofile"  routerLinkActive="active">
                                Job Profile
                            </a>
                        </li>
                        <li>
                            <a routerLink="/perfanalysis"  routerLinkActive="active">
                                Performance Analysis
                            </a>
                        </li>
                        <li>
                            <a routerLink="/trainingsuggestion"  routerLinkActive="active">
                                Training / IDP Suggestion
                            </a>
                        </li>
                    </ol> 
                
                    
                </mat-expansion-panel>
                
            </mat-accordion>
        </td>
    </tr>
</table>
</ng-container>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer></footer>
